<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.c22018.buangin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buangin"
        tools:targetApi="31">
        <activity
            android:name=".ui.register.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.privacy.ProfilePrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.language.ProfileLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.help.ProfileHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.account.ProfileAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jemput_sampah.JemputSampahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.riwayat.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jenis_sampah.JenisSampahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name="com.capstone.c22018.buangin.ui.home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.capstone.c22018.buangin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>